.colo {
    color:red;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
body {
	background-image: url("background.png");
}
table {
	background-color: white;
}
h1 {
	color:white;
}
